header{
  width:100%;
  margin:auto;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr;
  border-bottom: 1px solid rgba(255, 255, 255, 0.426);
  background-color: green;
}
.dark{
  background-color: rgb(12, 47, 12);
  color: white;
}
header.dark{
  background-color: rgb(12, 47, 12);
}
header label{
 color: white;
 font-size:20px ;
 font-weight: bold;
 display: flex;
 align-items: center;
}
header input{
  border: none;
  background-color: transparent;
  padding: 10px;
  font-weight: 400;
  outline: none;
}
header input::placeholder{
  color: rgba(255, 255, 255, 0.582);
  font-size: 16px;
  font-weight:400;
}
header img{
  height: 4vh;
  cursor: pointer;
}
.bar-icon{
  display: none;
}
.user{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  gap: .5rem;
}
.search-bar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.search-bar img{
  align-self:center;
  height: 3.5vh;
  cursor:pointer;
}

main{
  width: 100%;
  margin: auto; 
  display: grid;
  grid-template-columns: .2fr 1fr;
  column-gap: .5rem;
}
.side-bar{
  width: 100%;
  height: 100vh;
  padding:10px;
  display: flex;
  flex-direction:column;
  gap: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.426);
  background-color:green;
}
.side-bar.dark{
  background-color: rgb(12, 47, 12);
}
.side-bar li{
  width: 100%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}
/* .side-bar li.active{
  padding:10px;
  border-radius: 5px;
  background-color: rgb(5, 40, 5) ;
} */
.side-bar li:hover{
  padding:10px;
  border-radius: 5px;
  background-color: rgb(5, 40, 5) ;
}
.side-bar .categories-cont{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.categories-cont .categories{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  display: none;
}
.categories.visible{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.categories-cont h4{
  font-weight: bold;
}
.categories-cont a{
  margin: 0 10px;
  font-size: 16px;
  font-weight: 100;
}
.setting-cont{
  width: 100%;
}
.setting{
  width: 100%;
  padding: 10px;
  display: flex;
  display: none;
}
.setting-cont .visible{
  display: flex;
  align-items: center;
  gap:.5rem;
}
.toggle-cont{
  border: 2px solid;
  width: 40%;
  border-radius:25px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.toggled{
  justify-content: start;
  border: 2px solid black;
}
.toggle-btn{
  color: white;
  border: none;
  padding: 9px;
  border-radius: 20px;
}
.toggled .toggle-btn{
  background-color: black;
}
.hero-section{
  position: relative;
  width: 100%;
  height: 50%;
  background-image: url("../../images/school-supplies-green-chalkboard-back-school-background.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-section p{
  position:absolute;
  top: 40%;
  display:grid;
  background-color: transparent;
  left: 70%;
}
.hero-section p  span{
  font-size: 28px;
  color: black;
  font-weight: 600;
}
.subject-display{
  width: 100%;
  margin:10px auto;
  display:grid;
}
.subject-cont{
  padding: 10px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.subject{
  background-color: rgb(5, 40, 5);
  padding: 20px;
  color:  white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.subject img{
  width: 30%;
  height: 5vh;
  justify-self: end;
  align-self: center;
  color: white;
  cursor: pointer;
}
.subject h4{
  align-self:center;
}
.side-bar-footer{
  position: relative;
  top: 45%;
  width: 100%;
  display: grid;
  justify-content:center ;
  align-items: center;

}
.side-bar-footer span{
  color: white;
}
@media (min-width:300px) and (max-width:600px) {
  header{
    display: grid;
    grid-template-columns: 1fr 3fr .2fr;
    justify-content: center;
    align-items: center;
  }
  header label{
    display: none;
  }
  header img{
    height: 4vh;
  }
  .bar-icon{
    display:block;
  }
  .user,.search-bar{
    position: relative;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .search-bar img{
    align-self:center;
    height: 3.5vh;
  }
  .side-bar{
    position: absolute;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease;
  }
  .side-bar.visible{
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
    width: 100%;
    transition: all 1s ease;
  }
  main{
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-section{
    width: 98%;
    margin: auto;
    display: grid;
    justify-content: center;
    height:40vh;
  } 
  .hero-section p{
    width:70%;
    justify-content:end;
    left: 30%;
  }
  .hero-section p span{
    font-size: 22px;
  }
  .subject-display h1{
    margin: 10px;
  }
  .subject-cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .toggle-cont{
    width: 20%;
  }
}
@media (min-width:600px) and (max-width:800px){
  header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .hero-section p{
    width:70%;
    justify-content:end;
    left: 25%;
  }
  .subject-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .subject img{
    width: 40%;
    height: 5vh;
  }
  main{
    grid-template-columns: .4fr 1fr;
  }
}